openapi: 3.0.0
info:
  title: Madhive API
  version: 1.0.0
  description: |
    The Madhive API provides a comprehensive interface for digital advertising clients and services.

    ## Authentication
    This API uses OAuth 2.0 client credentials flow for authentication. To access protected endpoints:

    1. **Obtain an access token** using the `/oauth/token` endpoint with your client credentials
    2. **Include the token** in subsequent API requests using the `Authorization` header:
       ```
       Authorization: Bearer YOUR_ACCESS_TOKEN_HERE
       ```

    ### Token Usage Example
    ```bash
    # Get access token
    curl -X POST "https://api2.madhive.com/oauth/token" \
      -H "Content-Type: application/x-www-form-urlencoded" \
      -d "grant_type=client_credentials&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET"

    # Use token in API requests
    curl -H "Authorization: Bearer YOUR_ACCESS_TOKEN_HERE" \
      "https://api2.madhive.com/v1/campaigns"
    ```

    **Note:** Access tokens have an expiration time. You should handle token refresh in your application logic.
servers:
  - url: https://api2.madhive.com/api
    description: apigee
tags:
  - name: Madhive API
    description: Manage Entities such as Advertisers and Agencies
paths:
  /health:
    get:
      tags:
        - health
      summary: health of the service
      description: health check
      responses:
        '200':
          description: successful health check
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: success
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/campaigns/{id}:
    get:
      tags:
        - retrieve a campaign by its unique identifier
      summary: Send campaign ID and receive campaign details
      description: Send campaign ID and receive campaign details
      operationId: getCampaignById
      parameters:
        - name: id
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    name: Newly Created Order
                    customerExternalId: client-123456
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    advertiserId: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    brand: Madhive Brand Jeans
                    stationId: OI7qpnLagTWCyVCxVXVxxHmgfcbo
                    estimate: 2x 30s spots
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate campaign
      summary: Ability to archive a campaign
      description: Ability to archive a campaign
      operationId: deleteCampaignById
      parameters:
        - name: id
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: campaign deleted successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - modify campaign
      summary: Editing any attribute of a campaign. Unable to edit if the campaign is completed.
      description: Editing any attribute of a campaign. Unable to edit if the campaign is completed.
      operationId: updateCampaignById
      parameters:
        - name: id
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRequest'
        description: campaign update
        required: true
      responses:
        '200':
          description: campaign updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    name: Newly Created Order
                    customerExternalId: client-123456
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    advertiserId: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    brand: Madhive Brand Jeans
                    stationId: OI7qpnLagTWCyVCxVXVxxHmgfcbo
                    estimate: 2x 30s spots
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/campaigns/{id}/activation:
    post:
      tags:
        - campaign activation
      summary: Ability to set a campaign/line items live. If the start date is in the past it will start with the current time + 10 minutes.
      description: Ability to set a campaign/line items live. If the start date is in the past it will start with the current time + 10 minutes.
      operationId: activateCampaignById
      parameters:
        - $ref: '#/components/parameters/PathID'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: campaign activated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - Ability to pause a campaign and all of its associated line items and creatives
      summary: Ability to pause a campaign and all of its associated line items and creatives
      description: Ability to pause a campaign and all of its associated line items and creatives. If a line item is not live it is not affected
      operationId: deactivateCampaignById
      parameters:
        - $ref: '#/components/parameters/PathID'
      responses:
        '200':
          $ref: '#/components/responses/200PauseResource'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/campaigns/{cid}/lineitems/{id}/activation:
    post:
      tags:
        - line item activation
      summary: Ability to set a line items live. If the start date is in the past it will start with the current time + 10 minutes.
      description: Ability to set a line items live. If the start date is in the past it will start with the current time + 10 minutes.
      parameters:
        - name: cid
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: line item activated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - Ability to pause a line item
      summary: Ability to pause a line item and all of its creatives
      description: Ability to pause a line item and all of its creatives
      operationId: deactivateLineItemById
      parameters:
        - name: cid
          in: path
          description: camp id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/PathID'
      responses:
        '200':
          $ref: '#/components/responses/200PauseResource'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/campaigns:
    get:
      tags:
        - campaign
      summary: Receive the list of campaigns and their campaign IDs. Includes a parameter to include line item names and IDs.
      description: Receive the list of campaigns and their campaign IDs. Includes a parameter to include line item names and IDs.
      operationId: getCampaignsByOrg
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - name: includeLineItems
          in: query
          description: include lineitems in response
          required: false
          schema:
            type: boolean
        - in: query
          name: page_size
          description: number of campaigns per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: |
            Optional page selector RELATIVE to page_token: 1 = next page (the default when a page_token is supplied), -1 = previous page, 0 = reload the current page. Has no effect without page_token.
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: |
            Opaque cursor from the previous response's pagination.pageToken. Pass it alone to fetch the next page; pagination is cursor-based and offset defaults to the next page when a page_token is supplied.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    campaigns:
                      - id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        name: Test Campaign
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    post:
      tags:
        - campaign
      summary: Creating a campaign inclusive of Campaign Name, Advertiser, Agency and Station (if applicable).
      description: Creating a campaign inclusive of Campaign Name, Advertiser, Agency and Station (if applicable).
      operationId: createCampaign
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRequest'
        description: campaign creation
        required: true
      responses:
        '200':
          description: campaign created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    name: Newly Created Order
                    customerExternalId: client-123456
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    advertiserId: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    brand: Madhive Brand Jeans
                    stationId: OI7qpnLagTWCyVCxVXVxxHmgfcbo
                    estimate: 2x 30s spots
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/campaigns/{id}/lineitems:
    get:
      tags:
        - campaign line items
      summary: Receive all campaign or line item details when sending the IDs. Includes campaign/line item status details.
      description: Receive all campaign or line item details when sending the IDs. Includes campaign/line item status details.
      operationId: getLineItemsByCampaignId
      parameters:
        - name: id
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignLineItemResponse'
              examples:
                response:
                  value:
                    id: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Newly Created Order
                    customerExternalId: client-123456
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    advertiserId: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    lineItems:
                      - id: pdzKDktfwIV3FI7R6gHEbg32tpgl
                        campaignId: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        name: line item 1
                        whitelistId: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        startDate: '2030-01-02T15:04:00Z'
                        endDate: '2030-10-02T15:04:00Z'
                        impressionGoal: 1000
                        frequencyCap:
                          daily: 1
                          weekly: 7
                          monthly: 31
                        audiences:
                          - GaTiRIezyA98Lv6hACORtRWBFY4T
                          - K5gUgp1fTrbdANCatOawqfBtv2GE
                        deviceCap:
                          tv: 40
                          mobile: 40
                          desktop: 20
                          tablet: 0
                        targeting:
                          country: US
                          postalCodes:
                            - '92844'
                            - '90630'
                          states:
                            - CA
                            - NY
                          metros:
                            - 803
                            - 807
                            - 810
                        excludeDayparting:
                          monday:
                            - 0
                            - 2
                            - 23
                          tuesday:
                            - 0
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                            - 13
                            - 14
                            - 15
                            - 16
                            - 17
                            - 18
                            - 19
                            - 20
                            - 21
                            - 22
                            - 23
                          wednesday:
                            - 0
                            - 1
                            - 2
                            - 3
                            - 22
                            - 23
                          thursday: []
                          friday:
                            - 23
                          saturday:
                            - 0
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                            - 13
                            - 14
                            - 15
                            - 16
                            - 17
                            - 18
                            - 19
                            - 20
                            - 21
                            - 22
                            - 23
                          sunday:
                            - 0
                            - 2
                            - 6
                            - 8
                            - 10
                            - 12
                            - 14
                            - 16
                            - 18
                            - 20
                            - 22
                            - 23
                        status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
      security:
        - oauth2: []
  /v1/campaigns/{id}/creatives:
    get:
      tags:
        - campaign creatives
      summary: Receive all creative flights for a campaign
      description: Get all creative flights associated with line items under a campaign
      operationId: getCreativesByCampaignId
      parameters:
        - name: id
          in: path
          description: campaign id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignCreativeFlightResponse'
              examples:
                response:
                  value:
                    - creativeId: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                      lineItemId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                      startDate: '2030-01-02T15:04:00Z'
                      endDate: '2030-10-02T15:04:00Z'
                      weight: 50
                      status: READY
                    - creativeId: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                      lineitemId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                      startDate: '2030-01-02T15:04:00Z'
                      endDate: '2030-10-02T15:04:00Z'
                      weight: 50
                      status: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/lineitems/{id}:
    get:
      tags:
        - retrieve a line item by its unique identifier
      summary: Send line item ID and receive line item details
      description: Send line item ID and receive line item details
      operationId: getLineItemById
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Newly Created Order
                    customerExternalId: client-123456
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    impressionGoal: 1000
                    frequencyCap:
                      daily: 1
                      weekly: 7
                      monthly: 31
                    audiences:
                      - GaTiRIezyA98Lv6hACORtRWBFY4T
                      - K5gUgp1fTrbdANCatOawqfBtv2GE
                    deviceCap:
                      tv: 40
                      mobile: 40
                      desktop: 20
                      tablet: 0
                    targeting:
                      country: US
                      postalCodes:
                        - '92844'
                        - '90630'
                      states:
                        - CA
                        - NY
                      metros:
                        - 803
                        - 807
                        - 810
                    excludeDayparting:
                      monday:
                        - 0
                        - 2
                        - 23
                      tuesday:
                        - 0
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 16
                        - 17
                        - 18
                        - 19
                        - 20
                        - 21
                        - 22
                        - 23
                      wednesday:
                        - 0
                        - 1
                        - 2
                        - 3
                        - 22
                        - 23
                      thursday: []
                      friday:
                        - 23
                      saturday:
                        - 0
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 16
                        - 17
                        - 18
                        - 19
                        - 20
                        - 21
                        - 22
                        - 23
                      sunday:
                        - 0
                        - 2
                        - 6
                        - 8
                        - 10
                        - 12
                        - 14
                        - 16
                        - 18
                        - 20
                        - 22
                        - 23
                      status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - archive a line item
      summary: Ability to archive a line item
      description: Ability to archive a line item. Unable to archive a line item if it has ever been set live.
      operationId: deleteLineItemById
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: line item deleted successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - modify line item
      summary: Editing any attribute of a line item. Unable to edit the start date if it's live and in the past. Unable to edit targeting if the campaign is completed.
      description: Editing any attribute of a line item. Unable to edit the start date if it's live and in the past. Unable to edit targeting if the campaign is completed.
      operationId: updateLineItemById
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemRequest'
        description: line item update
        required: true
      responses:
        '200':
          description: line item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Newly Created Order
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/lineitems/{id}/impression-goal:
    patch:
      tags:
        - update impression goal
      summary: Editing line item impression goal amounts
      description: Editing line item impression goal amounts. Keeps the existing pace per day/lifetime and pace to impressions logic on the line item
      operationId: updateLineItemImpression
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemImpressionBudgetRequest'
            examples:
              response:
                value:
                  impressionGoal: 1000
        description: impression goal update
        required: true
      responses:
        '200':
          description: impression goal updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Impression Goal Updated
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/lineitems/{id}/budget-goal:
    patch:
      tags:
        - update line item budget
      summary: Editing line item budget amounts
      description: Editing line item budget amounts. Keeps the existing pace per day/lifetime and pace to impressions logic on the line item
      operationId: updateLineItemBudget
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemImpressionBudgetRequest'
            examples:
              response:
                value:
                  budgetGoal: 333333333
        description: impression budget update
        required: true
      responses:
        '200':
          description: impression budget updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Impression Budget Updated
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/lineitems/{id}/schedule:
    patch:
      tags:
        - update line item start/end dates
      summary: update line item schedule
      description: Editing line item start/end dates which will adjust campaign start/end dates to be inclusive of the line item date ranges. Unable to edit start dates that are in the past if it has been set live.
      operationId: updateLineItemSchedule
      parameters:
        - name: id
          in: path
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemScheduleRequest'
            examples:
              response:
                value:
                  startDate: '2030-01-02T15:04:00Z'
                  endDate: '2030-10-02T15:04:00Z'
        description: schedule update
        required: true
      responses:
        '200':
          description: schedule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Schedule Updated
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidLI'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/lineitems:
    post:
      tags:
        - create new line item
      summary: Creating a line item inclusive of overview and targeting parameters. This includes Line Item Name, Start/End Dates, Product, Impressions/Budget, eCPM (if applicable), Pace per day or lifetime, Publisher Group, Daypart, Frequency Cap, Device Distribution, Audience and Geo. <br /><br />Publisher group and Audience creation are done on their own endpoints and the ID’s are applied here.
      description: Creating a line item inclusive of overview and targeting parameters. This includes Line Item Name, Start/End Dates, Product, Impressions/Budget, eCPM (if applicable), Pace per day or lifetime, Publisher Group, Daypart, Frequency Cap, Device Distribution, Audience and Geo. <br /><br />Publisher group and Audience creation are done on their own endpoints and the ID’s are applied here.
      operationId: createLineItem
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemRequest'
        description: line item creation
        required: true
      responses:
        '200':
          description: line item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    campaignId: pdzKDktfwIV3FI7R6gHEbg32tpgl
                    name: Newly Created Order
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: parent id is required
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/contextual-segments:
    get:
      tags:
        - contextual segments
      summary: List available contextual segments for targeting and avoidance
      description: Returns the list of contextual segments (IAS) available for use in line item contextual targeting and avoidance. Segments can be filtered by type (TARGETING or AVOIDANCE).
      operationId: getContextualSegments
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: type
          schema:
            type: string
            enum:
              - TARGETING
              - AVOIDANCE
          description: Filter segments by type (TARGETING or AVOIDANCE). If omitted, returns all contextual segments.
          example: TARGETING
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextualSegmentListResponse'
              examples:
                response:
                  value:
                    segments:
                      - id: '3005009'
                        name: Automotive - Family Car
                        category: CONTEXTUAL
                        type: TARGETING
                      - id: '3005010'
                        name: News & Politics
                        category: CONTEXTUAL
                        type: TARGETING
                      - id: '1500080'
                        name: Adult Content
                        category: CONTEXTUAL
                        type: AVOIDANCE
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2026-06-02T15:04:00Z'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/audiences/{id}:
    get:
      tags:
        - get_audience_by_id
      summary: Send audience ID and receive details
      description: Send audience ID and receive details
      operationId: getAudienceById
      parameters:
        - name: id
          in: path
          description: audience id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
              examples:
                response:
                  value:
                    id: VKzwqdlbkuiox9mriAVJ2khImKSD
                    name: Household - HHI - 25-50k
                    orgId: yTh0Oaq4wcnQPUTBdE1PtZSPuvZk
                    category: Consumer
                    recipeType: CUSTOM
                    description: WN Updated March 2023
                    cpm: 100
                    minCpm: 50
                    status: READY
                    derivedStatus: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - update_audience
      summary: Ability to edit a custom audience and the boolean logic. Edits to custom audiences will apply to all line items that have that audience.
      description: Ability to edit a custom audience and the boolean logic. Edits to custom audiences will apply to all line items that have that audience.
      operationId: updateAudience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequest'
      responses:
        '200':
          description: Audience updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
              examples:
                default:
                  value:
                    id: VKzwqdlbkuiox9mriAVJ2khImKSD
                    name: Household - HHI - 25-50k
                    orgId: yTh0Oaq4wcnQPUTBdE1PtZSPuvZk
                    category: Consumer
                    description: WN Updated March 2023
                    cpm: 100
                    minCpm: 50
                    householdReach: 100000
                    lastModified: 1685632200
                    lastRefreshed: 1685632200
                    expr:
                      op: AND
                      ids:
                        - GaTiRIezyA98Lv6hACORtRWBFY4T
                        - K5gUgp1fTrbdANCatOawqfBtv2GE
                      children:
                        - op: OR
                          ids:
                            - hjkl83kjldfjskljF3
                            - l9sdf98sd98fdsf0sdf
                          children:
                            - op: NOT
                              ids:
                                - sdf9834jdfs0dfj23
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      parameters:
        - name: id
          in: path
          required: true
          description: audience id
          schema:
            type: string
            minLength: 28
            maxLength: 28
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate audience
      summary: Ability to archive an audience. The archived audience will not be removed from any line items, just removed from lists moving forward and will error if applied to new line items.
      description: Ability to archive an audience. The archived audience will not be removed from any line items, just removed from lists moving forward and will error if applied to new line items.
      operationId: deleteAudienceById
      parameters:
        - name: id
          in: path
          description: audience id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: x72xe8KgZjoFPKgqKjaPPIUyJtBd
                    message: audience deactivated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/audiences:
    get:
      tags:
        - audiences
      summary: Receive the list of custom and standard audiences with IDs
      description: Receive the list of custom and standard audiences with IDs
      operationId: getAudiencesByOrg
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: includeStdAuds
          description: include std audiences along with custom audiences
          required: true
          schema:
            type: boolean
        - in: query
          name: search
          description: restrict to audiences that match according to fuzzy-search
          required: false
          schema:
            type: string
        - in: query
          name: page_size
          description: number of audiences per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: |
            Optional page selector RELATIVE to page_token: 1 = next page (the default when a page_token is supplied), -1 = previous page, 0 = reload the current page. Has no effect without page_token.
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: |
            Opaque cursor from the previous response's pagination.pageToken. Pass it alone to fetch the next page; pagination is cursor-based and offset defaults to the next page when a page_token is supplied.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceListResponse'
              examples:
                response:
                  value:
                    audiences:
                      - id: VKzwqdlbkuiox9mriAVJ2khImKSD
                        name: Household - HHI - 25-50k
                        orgId: yTh0Oaq4wcnQPUTBdE1PtZSPuvZk
                        category: Consumer
                        description: WN Updated March 2023
                        recipeType: CUSTOM
                        status: READY
                        derivedStatus: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    post:
      tags:
        - audiences
      summary: Using segments and audiences to create a new custom audience with AND/OR/NOT boolean logic. Custom audiences can then be applied to line items in create/edit line item.
      description: Using segments and audiences to create a new custom audience with AND/OR/NOT boolean logic. Custom audiences can then be applied to line items in create/edit line item.
      operationId: createAudience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRequest'
      responses:
        '201':
          description: Audience created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
              examples:
                default:
                  value:
                    id: VKzwqdlbkuiox9mriAVJ2khImKSD
                    name: Household - HHI - 25-50k
                    orgId: yTh0Oaq4wcnQPUTBdE1PtZSPuvZk
                    category: Consumer
                    description: WN Updated March 2023
                    cpm: 100
                    minCpm: 50
                    householdReach: 100000
                    lastModified: 1685632200
                    lastRefreshed: 1685632200
                    expr:
                      op: AND
                      ids:
                        - GaTiRIezyA98Lv6hACORtRWBFY4T
                        - K5gUgp1fTrbdANCatOawqfBtv2GE
                      children:
                        - op: OR
                          ids:
                            - hjkl83kjldfjskljF3
                            - l9sdf98sd98fdsf0sdf
                          children:
                            - op: NOT
                              ids:
                                - sdf9834jdfs0dfj23
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/audiences/search:
    post:
      tags:
        - search_audiences
      summary: Ability to search for segments and audiences by expression for creating a custom audience. Returns back active segments and audiences related to that search.
      description: Ability to search for segments and audiences by expression for creating a custom audience. Returns back active segments and audiences related to that search.
      operationId: searchAudiences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSearchRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceListResponse'
              examples:
                response:
                  value:
                    audiences:
                      - id: VKzwqdlbkuiox9mriAVJ2khImKSD
                        name: Household - HHI - 25-50k
                        orgId: yTh0Oaq4wcnQPUTBdE1PtZSPuvZk
                        category: Consumer
                        recipeType: CUSTOM
                        description: WN Updated March 2023
                        status: READY
                        derivedStatus: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/advertisers/{id}:
    get:
      tags:
        - get_advertiser_by_id
      summary: Send an advertiser ID and receive details
      description: Send an advertiser ID and receive details
      operationId: getAdvertiserById
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advertiser'
              examples:
                response:
                  value:
                    id: KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    customerExternalId: adv-KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    name: Madhive
                    adDomain: madhive.com
                    iabCategory: IAB1
                    status: DRAFT
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - modify advertiser
      summary: Ability to update an advertiser including Advertiser Name, Advertiser Domain, IAB Category, Associated Agency, and External ID. Receives back the updated Advertiser.
      description: Ability to update an advertiser including Advertiser Name, Advertiser Domain, IAB Category, Associated Agency, and External ID. Receives back the updated Advertiser.
      operationId: updateAdvertiser
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserRequest'
        description: advertiser update
        required: true
      responses:
        '200':
          description: advertiser updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserResponse'
              examples:
                response:
                  value:
                    id: KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    customerExternalId: adv-KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    name: Madhive
                    domain: madhive.com
                    associatedAgency: fake agency
                    iabCategory: IAB1
                    status: DRAFT
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate advertiser
      summary: Ability to archive an advertiser
      description: Ability to archive an advertiser. This removes the advertiser from being added to campaigns moving forward and does not remove an advertiser from any associated campaigns
      operationId: deleteAdvertiserById
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          $ref: '#/components/responses/200DeleteResource'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/stations:
    get:
      tags:
        - station
      summary: Receive the list of stations (call letters, IDs, DMA) for your org.
      description: Receive the list of stations for your org, each with its madhive station ID, call letters and DMA. Use this to resolve a station's call letters (e.g. MHBND) to the 28-char station ID required by the campaign API. Optionally filter by call_letters to narrow the results.
      operationId: getStations
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: page_size
          description: number of stations per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: page number for pagination (0-based)
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: token for cursor-based pagination
          required: false
          schema:
            type: string
        - in: query
          name: call_letters
          description: filter by station call letters (exact match, case-sensitive)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    stations:
                      - id: R3CjYmYo54MuZGuXgv4sqyalXCMB
                        name: MHBND Station
                        callLetters: MHBND
                        dmaId: 501
                        status: READY
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/advertisers:
    get:
      tags:
        - advertiser
      summary: Receive the list of advertisers, IDs, associated agency, domain, category and external ID for your org.
      description: Receive the list of advertisers, IDs, associated agency, domain, category and external ID for your org.
      operationId: getAdvertisers
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: page_size
          description: number of advertisers per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: |
            Optional page selector RELATIVE to page_token: 1 = next page (the default when a page_token is supplied), -1 = previous page, 0 = reload the current page. Has no effect without page_token.
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: |
            Opaque cursor from the previous response's pagination.pageToken. Pass it alone to fetch the next page; pagination is cursor-based and offset defaults to the next page when a page_token is supplied.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    advertisers:
                      - id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        name: Test Advertiser
                        customerExternalId: adv-123456
                        domain: madhive.com
                        iabCategory: IAB1
                        associatedAgency: f9aWQ2v4ZceGhsku2P5amaOXCieu
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    post:
      tags:
        - advertiser
      summary: Two step process of creating an advertiser and then assigning it to a campaign
      description: Two step process of creating an advertiser and then assigning it to a campaign
      operationId: createAdvertiser
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserRequest'
        description: advertiser creation
        required: true
      responses:
        '200':
          description: advertiser created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserResponse'
              examples:
                response:
                  value:
                    id: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    customerExternalId: adv-123456
                    name: Madhive
                    adDomain: madhive.com
                    iabCategory: IAB1
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/agencies/{id}:
    get:
      tags:
        - get_agency_by_id
      summary: Send an Agency ID and receive back agency details including name and external ID.
      description: Send an Agency ID and receive back agency details including name and external ID.
      operationId: getAgencyById
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agency'
              examples:
                response:
                  value:
                    id: KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    customerExternalId: agency-external-id
                    name: Madhive
                    status: DRAFT
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - modify agency
      summary: Editing the name or external ID of an agency.
      description: Editing the name or external ID of an agency.
      operationId: updateAgency
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgencyRequest'
        description: agency update
        required: true
      responses:
        '200':
          description: agency updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyResponse'
              examples:
                response:
                  value:
                    id: KHKRwqM4728ZD3qNBSG0IrxSZb8L
                    customerExternalId: agency-external-id
                    name: Madhive
                    status: DRAFT
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate agency
      summary: Ability to archive an agency. This removes the agency from being added to campaigns moving forward and does not remove an agency from any associated campaigns.
      description: Ability to archive an agency. This removes the agency from being added to campaigns moving forward and does not remove an agency from any associated campaigns.
      operationId: deleteAgencyById
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          $ref: '#/components/responses/200DeleteResource'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/agencies:
    get:
      tags:
        - agency
      summary: Receive the list of agencies and their IDs.
      description: Receive the list of agencies and their IDs.
      operationId: getAgencies
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: page_size
          description: number of agencies per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: |
            Optional page selector RELATIVE to page_token: 1 = next page (the default when a page_token is supplied), -1 = previous page, 0 = reload the current page. Has no effect without page_token.
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: |
            Opaque cursor from the previous response's pagination.pageToken. Pass it alone to fetch the next page; pagination is cursor-based and offset defaults to the next page when a page_token is supplied.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    agencies:
                      - id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        name: Test Agency
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    post:
      tags:
        - agency
      summary: Creating an agency with inputs for Name and an optional field for external ID.
      description: Creating an agency with inputs for Name and an optional field for external ID.
      operationId: createAgency
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgencyRequest'
        description: agency creation
        required: true
      responses:
        '200':
          description: agency created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyResponse'
              examples:
                response:
                  value:
                    id: 4gV9KIg6E2kX3d6117OO8rgseJRl
                    customerExternalId: agency-123456
                    name: Madhive
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/pixels/{id}:
    get:
      tags:
        - get_pixel_by_id
      summary: Reading a tracking pixel
      description: Reading a tracking pixel
      operationId: getPixelById
      parameters:
        - name: id
          in: path
          description: pixel id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelResponse'
              examples:
                response:
                  value:
                    id: dvxol3J56P8YDMsGEGStu7rCRaYE
                    name: my first pixel
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - pixel
      summary: Updating a tracking pixel
      description: Updating a tracking pixel
      operationId: updatePixel
      parameters:
        - name: id
          in: path
          description: pixel id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixelRequest'
        description: pixel update
        required: true
      responses:
        '200':
          description: pixel updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelResponse'
              examples:
                response:
                  value:
                    id: dvxol3J56P8YDMsGEGStu7rCRaYE
                    name: my updated pixel
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    status: READY
                    urlPixel: https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi
                    jsPixel: <script>!function(e){e=document.createElement("img");e.src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi"</script>
                    htmlPixel: '<img src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi" style="display: none;" width="0" height="0">'
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/pixels:
    post:
      tags:
        - pixel
      summary: Creating a tracking pixel
      description: Creating a tracking pixel
      operationId: createPixel
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixelRequest'
        description: pixel creation
        required: true
      responses:
        '200':
          description: pixel created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelResponse'
              examples:
                response:
                  value:
                    id: dvxol3J56P8YDMsGEGStu7rCRaYE
                    name: my first pixel
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    status: READY
                    urlPixel: https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi
                    jsPixel: <script>!function(e){e=document.createElement("img");e.src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi"</script>
                    htmlPixel: '<img src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi" style="display: none;" width="0" height="0">'
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/creatives/{cId}/lineitems/{id}/activation:
    post:
      tags:
        - creative flight activation
      summary: Ability to activate a single creative flight on a line item.
      description: Ability to activate a single creative flight on a line item.
      operationId: activateCreativeById
      parameters:
        - in: path
          name: cId
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - in: path
          name: id
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: creative activated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate creative line item
      summary: Ability to pause a single creative flight on a line item.
      description: Ability to pause a single creative flight on a line item.
      operationId: deleteCreativeLineItem
      parameters:
        - in: path
          name: cId
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - in: path
          name: id
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: creative line item deactivated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/creatives/{cId}/lineitems/{id}:
    post:
      tags:
        - creative_line_item
      summary: Assigning a creative to a line item and adding flight date, weights and third party tracking pixels.
      description: Assigning a creative to a line item and adding flight date, weights and third party tracking pixels.
      operationId: createCreativeLineItem
      parameters:
        - in: path
          name: cId
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - in: path
          name: id
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeLineItemRequest'
        description: creative line item creation
        required: true
      responses:
        '200':
          description: creative line item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeLineItem'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    weight: 50
                    status: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - modify creative line item
      summary: Editing creative scheduling. Unable to edit the start date if it's live and in the past. Unable to edit if the line item is completed.
      description: Editing creative scheduling. Unable to edit the start date if it's live and in the past. Unable to edit if the line item is completed.
      operationId: updateCreativeLineItem
      parameters:
        - in: path
          name: cId
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - in: path
          name: id
          description: line item id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeLineItemRequest'
        description: creative line item update
        required: true
      responses:
        '200':
          description: creative line item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeLineItemResponse'
              examples:
                response:
                  value:
                    id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                    startDate: '2030-01-02T15:04:00Z'
                    endDate: '2030-10-02T15:04:00Z'
                    weight: 50
                    status: READY
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/creatives/{id}:
    get:
      tags:
        - get_creative_by_id
      summary: Send creative ID and receive details
      description: Send creative ID and receive details
      operationId: getCreativeById
      parameters:
        - name: id
          in: path
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeResponse'
              examples:
                response:
                  value:
                    id: HPAKbbHX1IZFeeAh1K7dSogRUvgF
                    name: my first creative
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    type: CDN
                    iabCategory: IAB5-5
                    url: https://api2.madhive.com/api
                    status: READY
                    creativeType: VIDEO
                    previewUrl: https://madhive.com/creative.mp4
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    patch:
      tags:
        - modify creative
      summary: Ability to update creative name, advertiser, category, ISCI code, click through, and if uploaded via third party can update the tag. Receives back the creative validations.
      description: Ability to update creative name, advertiser, category, ISCI code, click through, and if uploaded via third party can update the tag. Receives back the creative validations.
      operationId: updateCreative
      parameters:
        - name: id
          in: path
          description: creative id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeRequest'
        description: creative update
        required: true
      responses:
        '200':
          description: creative updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
              examples:
                response:
                  value:
                    id: HPAKbbHX1IZFeeAh1K7dSogRUvgF
                    name: my first creative
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    type: CDN
                    iabCategory: IAB5-5
                    url: https://api2.madhive.com/api
                    status: READY
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate creative
      summary: Ability to archive a creative. This removes the creatives from being added to line items moving forward and does not remove a creative from any associated line item.
      description: Ability to archive a creative. This removes the creatives from being added to line items moving forward and does not remove a creative from any associated line item.
      operationId: deleteCreativeById
      parameters:
        - $ref: '#/components/parameters/PathID'
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          $ref: '#/components/responses/200DeleteResource'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/creatives:
    get:
      tags:
        - creative
      summary: Receive the list of creatives and their IDs.
      description: Receive the list of creatives and their IDs.
      operationId: getCreatives
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
        - in: query
          name: page_size
          description: number of creatives per page (default 100, max 10000)
          required: false
          schema:
            type: integer
            default: 100
            maximum: 10000
        - in: query
          name: offset
          description: |
            Optional page selector RELATIVE to page_token: 1 = next page (the default when a page_token is supplied), -1 = previous page, 0 = reload the current page. Has no effect without page_token.
          required: false
          schema:
            type: integer
        - in: query
          name: page_token
          description: |
            Opaque cursor from the previous response's pagination.pageToken. Pass it alone to fetch the next page; pagination is cursor-based and offset defaults to the next page when a page_token is supplied.
          required: false
          schema:
            type: string
        - in: query
          name: advertiser
          description: Filter by advertiser organization ID(s). Comma-separated for multiple advertisers.
          required: false
          schema:
            type: string
        - in: query
          name: statuses
          description: 'Filter by creative status. Comma-separated. Values: DRAFT, READY, PAUSED, CANCELLED, ARCHIVED.'
          required: false
          schema:
            type: string
        - in: query
          name: media_types
          description: 'Filter by media type. Comma-separated. Values: VIDEO, AUDIO, DISPLAY. OTT is accepted as an alias for VIDEO.'
          required: false
          schema:
            type: string
        - in: query
          name: search
          description: Typo-tolerant fuzzy text search across creative id, name, vast_url, isci_code, click_thru, oms_id, and ext_id. Results are ranked by match quality.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    creatives:
                      - id: a8MWQ2v4ZceGhsku2P5amaOXCnwe
                        name: Creative name
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    post:
      tags:
        - creative
      summary: Uploading a creative via VAST and CDN. Ability to add in a clickthrough.
      description: Uploading a creative via VAST and CDN. Ability to add in a clickthrough.
      operationId: createCreative
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeRequest'
        description: creative creation
        required: true
      responses:
        '200':
          description: creative created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
              examples:
                response:
                  value:
                    id: HPAKbbHX1IZFeeAh1K7dSogRUvgF
                    name: my first creative
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    type: CDN
                    iabCategory: IAB5-5
                    url: https://api2.madhive.com/api
                    status: READY
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    error: 'name: cannot be empty'
                    status: ERROR
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/creatives/media-trust-status:
    post:
      tags:
        - media trust status
      summary: Batch-check the Media Trust (malware scan) status of creatives.
      description: Given a batch of MadHive creative IDs, returns each creative's Media Trust malware-scan verdict. Creatives are scanned automatically once pushed to the MadHive Creative Library; this is a read-only status check over that scan result, not a submission endpoint.
      operationId: getCreativesMediaTrustStatus
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaTrustStatusRequest'
        description: batch of creative ids to check
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaTrustStatusResponse'
              examples:
                response:
                  value:
                    results:
                      - creativeId: HPAKbbHX1IZFeeAh1K7dSogRUvgF
                        status: APPROVED
                        scannedAt: '2026-07-20T10:15:00Z'
                      - creativeId: tfgGrw2ZRrinUTDwAJVW7ygrvoHx
                        status: REJECTED
                        scannedAt: '2026-07-20T10:15:00Z'
                        problems:
                          - name: EICAR-Test
                            type: malware
                            scanId: scan-2
                            reportedAt: '2026-07-20T10:15:00Z'
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/publishers:
    get:
      tags:
        - all publishers
      summary: Receive the most up to date list of publishers to create a publisher group
      description: Receive the most up to date list of publishers to create a publisher group
      operationId: getPublishersByOrg
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherResponse'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/publishergroups/{id}:
    get:
      tags:
        - publisher group retrieval
      summary: Send publisher group ID and retrieve list of providers in the publisher group
      description: Send publisher group ID and retrieve list of providers in the publisher group
      operationId: getPublisherGroupById
      parameters:
        - name: id
          in: path
          description: publisher group id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherGroupResponse'
              examples:
                response:
                  value:
                    id: 5KWVy4nd3WCbMsatgltq1ac4MSGc
                    name: my first publisher group
                    mediaType: VIDEO
                    productId: 5KWVy4nd3WCbMsatgltq1ac4MSGc
                    publishers:
                      - id: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
                        name: my first publisher
                        cap: 12
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    put:
      tags:
        - publisher group modification
      summary: Ability to edit an existing publisher group. This includes editing the name and re-uploading a list of publishers and its weights.
      description: Ability to edit an existing publisher group. This includes editing the name and re-uploading a list of publishers and its weights.
      operationId: updatePublisherGroupById
      parameters:
        - name: id
          in: path
          description: publisher group id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherGroupRequest'
        description: publisher group update
        required: true
      responses:
        '200':
          description: publisher group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherGroupResponse'
              examples:
                response:
                  value:
                    id: 5KWVy4nd3WCbMsatgltq1ac4MSGc
                    name: my first publisher group
                    mediaType: VIDEO
                    productId: 5KWVy4nd3WCbMsatgltq1ac4MSGc
                    publishers:
                      - id: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
                        name: my first publisher
                        cap: 12
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
    delete:
      tags:
        - deactivate publisher group
      summary: Archiving a publisher group. Archived publisher groups will not be automatically removed from existing line items, but they will be removed from publisher group lists and can no longer be applied to line items.
      description: Archiving a publisher group. Archived publisher groups will not be automatically removed from existing line items, but they will be removed from publisher group lists and can no longer be applied to line items.
      operationId: deletePublisherGroupById
      parameters:
        - name: id
          in: path
          description: publisher group id
          required: true
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: UoMlEJ6pH6tcSOKgnERrWH7lWfwL
                    message: publisher group deactivated successfully
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
        - oauth2: []
  /v1/publishergroups:
    get:
      tags:
        - all publisher groups
      summary: Receive the list of publisher groups and their IDs.
      description: Receive the list of publisher groups and their IDs.
      operationId: getPublisherGroupsByOrg
      parameters:
        - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherGroupListResponse'
              examples:
                response:
                  value:
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
                    publisherGroups:
                      - id: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
[...]
