openapi: 3.2.0
info:
  title: Madhive Health API
  version: 1.0.0
  description: 'Operations tagged health across 2 of this provider''s published API definitions: madhive-api-openapi-original.yml, madhive-mcp-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api2.madhive.com/api
  description: apigee
- url: https://api2.madhive.com/mcp
  description: Production (mad-master)
tags:
- name: health
paths:
  /health:
    servers:
    - url: https://api2.madhive.com/api
      description: apigee
    get:
      tags:
      - health
      summary: health of the service
      description: health check
      responses:
        '200':
          description: successful health check
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
              examples:
                response:
                  value:
                    id: 4af459ff8e1a36b6bb74fb88f1a02477
                    message: success
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      taskId: '14158884487309867565'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
      - oauth2: []
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - transaction
      properties:
        errors:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
          description: many error messages
        error:
          type: string
          x-go-type-skip-optional-pointer: true
          description: error message
          example: Unauthorized
        status:
          type: string
          x-go-type-skip-optional-pointer: true
          description: status of the service
          example: ERROR
        transaction:
          $ref: '#/components/schemas/Transaction'
    Transaction:
      type: object
      x-go-type-skip-optional-pointer: true
      x-omitempty: false
      required:
      - id
      - taskId
      - created
      properties:
        id:
          type: string
          description: trace id
          example: 4af459ff8e1a36b6bb74fb88f1a02477
        taskId:
          type: string
          x-omitempty: true
          description: task id
          example: '14158884487309867565'
        created:
          type: string
          description: 'order created date, format: yyyy-mm-dd hh:mm:ss'
          example: '2030-11-02T15:04:00Z'
    GenericResponse:
      type: object
      required:
      - id
      - message
      - transaction
      properties:
        id:
          type: string
          description: resource id
          example: 4af459ff8e1a36b6bb74fb88f1a02477
        message:
          type: string
          description: response message
          example: success
        error:
          type: string
          description: error message
          example: unable to process request
        transaction:
          $ref: '#/components/schemas/Transaction'
  examples:
    401Ex:
      value:
        error: unauthorized
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
  responses:
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/401Ex'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api2.madhive.com/oauth/token
          scopes: {}
    basicAuth:
      type: http
      description: Basic Authentication Not Implemented
      scheme: basic
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: jwt access token for authentication
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication using client credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api2.madhive.com/oauth/token
          scopes: {}
x-refined-from:
- madhive-api-openapi-original.yml
- madhive-mcp-openapi-original.json
