openapi: 3.2.0
info:
  title: Madhive all products API
  version: 1.0.0
  description: "The Madhive API provides a comprehensive interface for digital advertising clients and services.\n\n## Authentication\nThis API uses OAuth 2.0 client credentials flow for authentication. To access protected endpoints:\n\n1. **Obtain an access token** using the `/oauth/token` endpoint with your client credentials\n2. **Include the token** in subsequent API requests using the `Authorization` header:\n   ```\n   Authorization: Bearer YOUR_ACCESS_TOKEN_HERE\n   ```\n\n### Token Usage Example\n```bash\n# Get access token\ncurl -X POST \"https://api2.madhive.com/oauth/token\" \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=client_credentials&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET\"\n\n# Use token in API requests\ncurl -H \"Authorization: Bearer YOUR_ACCESS_TOKEN_HERE\" \\\n  \"https://api2.madhive.com/v1/campaigns\"\n```\n\n**Note:** Access tokens have an expiration time. You should handle token refresh in your application logic.\n"
servers:
- url: https://api2.madhive.com/api
  description: apigee
tags:
- name: all products
paths:
  /v1/products:
    get:
      tags:
      - all products
      summary: Receive the list of products and their IDs
      description: Receive the list of products and their IDs
      operationId: getProductsByOrg
      parameters:
      - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              examples:
                response:
                  value:
                    products:
                    - id: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
                      name: my first product
                      ecpm: 120
                      vcrTarget: 80
                      whitelistId: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
                      mediaType: VIDEO
                      status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
      - oauth2: []
components:
  responses:
    400InvalidID:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/400InvalidID'
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/401Ex'
  parameters:
    X-Cloud-Trace-Context:
      name: X-Cloud-Trace-Context
      in: header
      description: gcp trace
      required: false
      schema:
        type: string
        default: 91f9f012dc7c7ffc13604c77f12a8931
  schemas:
    DeviceCap:
      x-isnullable: false
      type: object
      required:
      - tv
      - mobile
      - desktop
      - tablet
      properties:
        tv:
          type: integer
          format: uint32
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=1,max=100
          description: tv device cap
          example: 40
        mobile:
          type: integer
          format: uint32
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=1,max=100
          x-omitempty: true
          description: mobile device cap
          example: 40
        desktop:
          type: integer
          format: uint32
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=1,max=100
          x-omitempty: true
          description: desktop device cap
          example: 20
        tablet:
          type: integer
          format: uint32
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=1,max=100
          x-omitempty: true
          description: tablet device cap
          example: 0
    ErrorResponse:
      type: object
      required:
      - transaction
      properties:
        errors:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
          description: many error messages
        error:
          type: string
          x-go-type-skip-optional-pointer: true
          description: error message
          example: Unauthorized
        status:
          type: string
          x-go-type-skip-optional-pointer: true
          description: status of the service
          example: ERROR
        transaction:
          $ref: '#/components/schemas/Transaction'
    Product:
      x-isnullable: false
      type: object
      required:
      - id
      - name
      - deviceCap
      - ecpm
      - mediaType
      - whitelistId
      - vcrTarget
      properties:
        id:
          type: string
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=28,max=28
          description: madhive product id
          example: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
        name:
          type: string
          x-omitempty: false
          x-isnullable: false
          x-oapi-codegen-extra-tags:
            validate: 'required,min=2,ne= '
          description: product name
          example: my first product
        deviceCap:
          $ref: '#/components/schemas/DeviceCap'
        ecpm:
          type: integer
          format: uint64
          x-isnullable: false
          x-oapi-codegen-extra-tags:
            validate: required
          description: product ecpm
          example: 120
        vcrTarget:
          type: integer
          format: uint32
          x-isnullable: false
          x-oapi-codegen-extra-tags:
            validate: required
          description: product vcr target
          example: 80
        whitelistId:
          type: string
          x-isnullable: false
          x-omitempty: false
          x-oapi-codegen-extra-tags:
            validate: omitempty,min=28,max=28
          description: whitelist id
          example: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
        mediaType:
          $ref: '#/components/schemas/MediaType'
        status:
          $ref: '#/components/schemas/Status'
    MediaType:
      type: string
      x-isnullable: false
      x-omitempty: true
      x-oapi-codegen-extra-tags:
        validate: required,oneof=NONE VIDEO AUDIO DISPLAY
      example: VIDEO
      enum:
      - NONE
      - VIDEO
      - AUDIO
      - DISPLAY
    ProductResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/Product'
      - type: object
        required:
        - transaction
        - status
        properties:
          transaction:
            $ref: '#/components/schemas/Transaction'
          status:
            $ref: '#/components/schemas/Status'
    Transaction:
      type: object
      x-go-type-skip-optional-pointer: true
      x-omitempty: false
      required:
      - id
      - taskId
      - created
      properties:
        id:
          type: string
          description: trace id
          example: 4af459ff8e1a36b6bb74fb88f1a02477
        taskId:
          type: string
          x-omitempty: true
          description: task id
          example: '14158884487309867565'
        created:
          type: string
          description: 'order created date, format: yyyy-mm-dd hh:mm:ss'
          example: '2030-11-02T15:04:00Z'
    ProductListResponse:
      x-isnullable: false
      type: object
      required:
      - transaction
      - products
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductResponse'
          description: list of products
        transaction:
          $ref: '#/components/schemas/Transaction'
    Status:
      type: string
      x-isnullable: false
      x-omitempty: false
      x-oapi-codegen-extra-tags:
        validate: omitempty,oneof=READY ARCHIVED CANCELLED DRAFT PAUSED
      description: status of the entity
      example: READY
      enum:
      - READY
      - ARCHIVED
      - CANCELLED
      - DRAFT
      - PAUSED
  examples:
    401Ex:
      value:
        error: unauthorized
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
    400InvalidID:
      value:
        error: invalid resource id
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api2.madhive.com/oauth/token
          scopes: {}
    basicAuth:
      type: http
      description: Basic Authentication Not Implemented
      scheme: basic
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: jwt access token for authentication
