openapi: 3.2.0
info:
  title: Madhive Get Pixel By ID API
  version: 1.0.0
  description: The Madhive API provides a comprehensive interface for digital advertising clients and services.
servers:
- url: https://api2.madhive.com/api
  description: apigee
tags:
- name: get_pixel_by_id
paths:
  /v1/pixels/{id}:
    get:
      tags:
      - get_pixel_by_id
      summary: Reading a tracking pixel
      operationId: getPixelById
      parameters:
      - name: id
        in: path
        description: pixel id
        required: true
        x-oapi-codegen-extra-tags:
          validate: required,min=28,max=28
        schema:
          type: string
      - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelResponse'
              examples:
                response:
                  value:
                    id: dvxol3J56P8YDMsGEGStu7rCRaYE
                    name: my first pixel
                    advertiserId: fwpObxzCpvITV2GspiUc3C5YfprJ
                    status: READY
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '400':
          $ref: '#/components/responses/400InvalidID'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
      - oauth2: []
components:
  responses:
    400InvalidID:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/400InvalidID'
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/401Ex'
  examples:
    401Ex:
      value:
        error: unauthorized
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
    400InvalidID:
      value:
        error: invalid resource id
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
  schemas:
    Transaction:
      type: object
      x-go-type-skip-optional-pointer: true
      x-omitempty: false
      required:
      - id
      - taskId
      - created
      properties:
        id:
          type: string
          description: trace id
          example: 4af459ff8e1a36b6bb74fb88f1a02477
        taskId:
          type: string
          x-omitempty: true
          description: task id
          example: '14158884487309867565'
        created:
          type: string
          description: 'order created date, format: yyyy-mm-dd hh:mm:ss'
          example: '2030-11-02T15:04:00Z'
    ErrorResponse:
      type: object
      required:
      - transaction
      properties:
        errors:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
          description: many error messages
        error:
          type: string
          x-go-type-skip-optional-pointer: true
          description: error message
          example: Unauthorized
        status:
          type: string
          x-go-type-skip-optional-pointer: true
          description: status of the service
          example: ERROR
        transaction:
          $ref: '#/components/schemas/Transaction'
    PixelResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/Pixel'
      - type: object
        required:
        - transaction
        - status
        properties:
          transaction:
            $ref: '#/components/schemas/Transaction'
          status:
            $ref: '#/components/schemas/Status'
    Pixel:
      type: object
      required:
      - name
      - advertiserId
      properties:
        id:
          type: string
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            validate: required_with=Status,omitempty,min=28,max=28
          description: madhive pixel id
          example: dvxol3J56P8YDMsGEGStu7rCRaYE
        name:
          type: string
          x-oapi-codegen-extra-tags:
            validate: 'required,min=2,ne= '
          x-isnullable: false
          x-omitempty: false
          description: pixel name
          example: my first pixel
        advertiserId:
          type: string
          x-isnullable: false
          x-omitempty: false
          x-oapi-codegen-extra-tags:
            validate: required,min=28,max=28
          description: advertiser id
          example: fwpObxzCpvITV2GspiUc3C5YfprJ
        urlPixel:
          type: string
          x-go-type-skip-optional-pointer: true
          x-isnullable: false
          x-omitempty: true
          description: url pixel
          example: https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi
        jsPixel:
          type: string
          x-go-type-skip-optional-pointer: true
          x-isnullable: false
          x-omitempty: true
          description: js pixel
          example: <script>!function(e){e=document.createElement("img");e.src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi"</script>
        htmlPixel:
          type: string
          x-go-type-skip-optional-pointer: true
          x-isnullable: false
          x-omitempty: true
          description: html pixel
          example: '<img src="https://jelly.mdhv.io/v1/star.gif?pid=EfwNWX7NdVGxE7pcT5mTte92PxIN&src=mh&evt=hi" style="display: none;" width="0" height="0">'
    Status:
      type: string
      x-isnullable: false
      x-omitempty: false
      x-oapi-codegen-extra-tags:
        validate: omitempty,oneof=READY ARCHIVED CANCELLED DRAFT PAUSED
      description: status of the entity
      example: READY
      enum:
      - READY
      - ARCHIVED
      - CANCELLED
      - DRAFT
      - PAUSED
  parameters:
    X-Cloud-Trace-Context:
      name: X-Cloud-Trace-Context
      in: header
      description: gcp trace
      required: false
      schema:
        type: string
        default: 91f9f012dc7c7ffc13604c77f12a8931
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api2.madhive.com/oauth/token
          scopes: {}
    basicAuth:
      type: http
      description: Basic Authentication Not Implemented
      scheme: basic
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: jwt access token for authentication
