openapi: 3.2.0
info:
  title: Madhive Organizations API
  version: 1.0.0
  description: The Madhive API provides a comprehensive interface for digital advertising clients and services.
servers:
- url: https://api2.madhive.com/api
  description: apigee
tags:
- name: Organizations
paths:
  /v1/orgs:
    get:
      tags:
      - Organizations
      summary: Return the list of organizations associated with the user
      description: Return the list of organizations associated with the user.
      operationId: getOrgs
      parameters:
      - $ref: '#/components/parameters/X-Cloud-Trace-Context'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgListResponse'
              examples:
                response:
                  value:
                    orgs:
                    - id: 0X4Ue7ELKvMI6cQaPzZ8evrO0XUx
                      name: my first org
                    transaction:
                      id: 4af459ff8e1a36b6bb74fb88f1a02477
                      created: '2030-11-02T15:04:00Z'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      security:
      - oauth2: []
components:
  examples:
    401Ex:
      value:
        error: unauthorized
        status: ERROR
        transaction:
          id: 4af459ff8e1a36b6bb74fb88f1a02477
          taskId: '14158884487309867565'
          created: '2030-11-02T15:04:00Z'
  schemas:
    Transaction:
      type: object
      x-go-type-skip-optional-pointer: true
      x-omitempty: false
      required:
      - id
      - taskId
      - created
      properties:
        id:
          type: string
          description: trace id
          example: 4af459ff8e1a36b6bb74fb88f1a02477
        taskId:
          type: string
          x-omitempty: true
          description: task id
          example: '14158884487309867565'
        created:
          type: string
          description: 'order created date, format: yyyy-mm-dd hh:mm:ss'
          example: '2030-11-02T15:04:00Z'
    ErrorResponse:
      type: object
      required:
      - transaction
      properties:
        errors:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            type: string
          description: many error messages
        error:
          type: string
          x-go-type-skip-optional-pointer: true
          description: error message
          example: Unauthorized
        status:
          type: string
          x-go-type-skip-optional-pointer: true
          description: status of the service
          example: ERROR
        transaction:
          $ref: '#/components/schemas/Transaction'
    ID:
      type: string
      x-go-name: ID
      x-go-type-skip-optional-pointer: true
      x-oapi-codegen-extra-tags:
        validate: omitempty,min=28,max=28
      description: resource id
      example: a8MWQ2v4ZceGhsku2P5amaOXCnwe
    OrgListResponse:
      type: object
      x-isnullable: false
      description: response for organization list
      properties:
        transaction:
          $ref: '#/components/schemas/Transaction'
        orgs:
          type: array
          items:
            $ref: '#/components/schemas/Org'
          x-go-type-skip-optional-pointer: true
          description: list of organizations
    Name:
      type: string
      x-isnullable: false
      x-omitempty: false
      x-oapi-codegen-extra-tags:
        validate: 'required,min=2,max=128,ne= '
      description: resource name
      example: name of resource
    Org:
      type: object
      required:
      - id
      - name
      - transaction
      - status
      x-isnullable: false
      properties:
        id:
          $ref: '#/components/schemas/ID'
        parentID:
          type: string
          x-go-type-skip-optional-pointer: true
          description: parent organization id
        name:
          $ref: '#/components/schemas/Name'
        orgType:
          type: string
          x-go-type-skip-optional-pointer: true
          description: organization type
          example: ORGANIZATION
        status:
          $ref: '#/components/schemas/Status'
        publisherGroupIDs:
          type: array
          items:
            $ref: '#/components/schemas/ID'
          x-go-type-skip-optional-pointer: true
          description: list of publisher group ids
        defaultPublisherGroupID:
          type: string
          x-go-type-skip-optional-pointer: true
          description: default publisher group id
    Status:
      type: string
      x-isnullable: false
      x-omitempty: false
      x-oapi-codegen-extra-tags:
        validate: omitempty,oneof=READY ARCHIVED CANCELLED DRAFT PAUSED
      description: status of the entity
      example: READY
      enum:
      - READY
      - ARCHIVED
      - CANCELLED
      - DRAFT
      - PAUSED
  parameters:
    X-Cloud-Trace-Context:
      name: X-Cloud-Trace-Context
      in: header
      description: gcp trace
      required: false
      schema:
        type: string
        default: 91f9f012dc7c7ffc13604c77f12a8931
  responses:
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              $ref: '#/components/examples/401Ex'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api2.madhive.com/oauth/token
          scopes: {}
    basicAuth:
      type: http
      description: Basic Authentication Not Implemented
      scheme: basic
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
      description: jwt access token for authentication
